$background: #100e17;

.theme-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.sudoh {
    &:hover,
    &:focus {
    background: initial !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: initial !important;
    -webkit-box-decoration-break: initial !important;
    box-decoration-break: initial !important;
    text-shadow: none;
    }
}

.display-block {
    display: block;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    

    nav {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: start;
            width: 700px;
            margin-top: 1.5rem;
            list-style-type: none;

            li {
                margin: 0 2rem;

                a {
                    box-shadow: none;
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                    }
                }
                
            }
        }
    }
}

.colorful {
    background: linear-gradient(90deg,#ff17c6 0%, #00ffa3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
    display: inline-block;
    box-shadow: none;
}


.bio {
    max-width: 800px;
    margin: 5rem auto;
    min-height: 110vh;
    margin-bottom: 8rem;

    .whoami {
        &::after {  
            content: "";
            position: absolute;
            top: 0;
            right: -15px;
            display: inline-block;
            background-color: #00ffa3;
            vertical-align: top;
            width: 10px;
            height: 28px;
            animation: blink 1s step-end infinite;
          }  
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 3rem;

        .work,
        .education {
            display: inline-block;
        }
    }

    .grid {
        position: relative;
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column-gap: 1ch;

        > * {
            grid-column: 2 / auto;
            margin: 0px;
        }

        p:nth-of-type(2),
        .last {
            margin-bottom: 2rem;
        }

        .line {
            position: absolute;
            width: 4px;
            height: 100%;
            opacity: 0.2;
            margin-left: 2px;
            grid-column: 1 / auto;
            grid-row: 1 / span 9;
            background: rgb(157, 178, 201);
            border-radius: 100px;
        }

        .dot {
            width: .5em;
            height: .5em;
            align-self: center;
            grid-column: 1 / auto;
            // background: rgb(157, 178, 201);
            background: #ee83ef;
            border-radius: 100%;

            &--current {
                animation: ping 1s cubic-bezier(0,0,.2,1) infinite;
                width: .75em;
                height: .75em;
                position: absolute;
                left: -.15em;
                top: -2px;
            }
        }
    }
}

@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}

.page-footer {
    div {
        margin: 0 auto;
        width: 100px;
        text-align: center;
        padding-bottom: 1rem;

        a {
            margin: 0 .5rem;
            box-shadow: none;
        }
    }
}

.toggle-fun {
    background: #0f0340;
    min-height: 100vh;

    #___gatsby {
        min-height: 100vh;
        background: url("../images/footer.png") no-repeat center bottom;
        background-size: 100%;
        position: relative;
        // overflow: hidden;
        /* z-index: -5; */
    }
    
    .planetleft {
        position: absolute;
        left: 5em;
        top: 40vh;
        z-index: 0;
    }
    
    .planetright {
        position: absolute;
        right: 5em;
        z-index: 0;
        top: 4em;
    }
    
    blockquote {
        border-left-color: #FFF;
        color: #FFF;
    }
    
    .contentWrapper {
        background: rgba(0, 0, 0, .35) url("../images/lines.svg");
        background-size: auto;
        padding: 1em 2em;
        background: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23361900' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E"), linear-gradient(90deg, rgba(15, 3, 61, .8) 0%, rgba(246,49,101,.5) 100%);
        animation: shift 52s linear infinite !important;
        z-index: 5;
        // position: relative;
        border-radius: 10px;
    }
    
    @keyframes shift {	
        100% {	
            background-position: -100% 0;	
        }	
    }

    .border,
    .hero-medium {
        display: none;
    }

    .bio {
        background: rgba(0, 0, 0, .35) url("../images/lines.svg");
        background-size: auto;
        padding: 1em 2em;
        background: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23361900' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E"), linear-gradient(90deg, rgba(15, 3, 61, .8) 0%, rgba(246,49,101,.5) 100%);
        animation: shift 52s linear infinite !important;
        z-index: 5;
        position: relative;
        border-radius: 10px;
        min-height: 100vh;
        margin-bottom: 9rem;
    }

    .page-footer {
        div {
            a {
                svg path {
                    fill: #10eba2;
                }

                &:hover,
                &:focus {
                    svg path {
                    animation: wooo-fun 3s infinite;
                    }
                }
            }
        }
    }
}

.toggle-off {
    background: $background;

    .planetleft,
    .planetright,
    .static,
    .animate {
        display: none;
    }

    #___gatsby {
     background: none;
    }

    .page-footer {
        a {
            svg path {
                fill: #FFF;
            }

            &:hover,
            &:focus {
                svg path {
                animation: wooo 3s infinite;
                }
            }
        }
    }

    .border {
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
        height: 100vh;
        pointer-events: none;
        z-index: 2001;
        width: 100%;

        svg {
            width: 100%;
            height: 100%;
        }
        
    }

    .hero-medium {
        position: absolute;
        width: 25vh;
        top: 0;
        display: block;
        z-index: 0;
    }

    a {

        color: #FFF;
        
        &:hover,
        &:focus {
            background: linear-gradient(90deg,#ff17c6,#00ffa3);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            text-shadow: none;
        }
    }

    .contentWrapper {
        background: none;

        h3 {
            a {
                background: linear-gradient(90deg,#ff17c6,#00ffa3);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
                text-shadow: none;
            }
        }
    }

    .blog-post {
        .contentWrapper {
            margin-right: 3em !important;
            max-width: 800px !important;
        }
    }
    
    .sidebar {
    
        &--wrapper {
            position: absolute;
            left: 1em;
            height: 100%;
        }
    
        position: -webkit-sticky; /* Safari */  
        position: sticky;
        top: 2em;
        max-width: 100%;
        background: transparent;
    
        a {
            display: block;
            padding: .5em 0;
            border-bottom: dotted;
            border-bottom-color: #ee72f1;
            box-shadow: none;
        }
    }
    
    @media screen and (max-width: 823px) {
        .header {
            nav {
                ul {
                    margin-top: 1em;
                    margin-bottom: 8em;
                    list-style-type: none;
                    width: 300px;
                    flex-direction: column;
                }
            }
        }
    
        .contentWrapper,
        .bio {
            margin-top: 0;
        }
    
        .contentWrapper {
            padding: 1rem 1rem;
        }
    
        .bio {
            padding: 0 1em;
            margin: 0 1em;
            margin-bottom: 8rem;
    
            .info {
                flex-direction: column;
            }
        }
    
        .sidebar {
            display: none;
        }
    }
    
    @media screen and (min-width: 823px) and (max-width: 915px) {
        .blog-post {
            .contentWrapper {
                margin-right: 1em !important;
                max-width: 400px !important;
            }
        }
    }
    
    @media screen and (min-width: 915px) and (max-width: 1050px) {
        .blog-post {
            .contentWrapper {
                margin-right: 1em !important;
                max-width: 500px !important;
            }
        }
    }
    
    @media screen and (min-width: 1050px) and (max-width: 1160px) {
        .blog-post {
            .contentWrapper {
                margin-right: 1em !important;
                max-width: 600px !important;
            }
        }
    }
    
    @media screen and (min-width: 1160px) and (max-width: 1260px) {
        .blog-post {
            .contentWrapper {
                margin-right: 1em !important;
                max-width: 700px !important;
            }
        }
    }
    
    @media screen and (min-width: 1260px) {
        .blog-post {
            .contentWrapper {
                margin-right: 3em !important;
                max-width: 800px !important;
            }
        }
    }
    
    @media screen and (min-width: 1500px) {
        .blog-post {
            .contentWrapper {
                margin-right: 3em !important;
                max-width: 900px !important;
            }
        }
    }
    
    @media screen and (min-width: 1600px) {
        .blog-post {
            .contentWrapper {
                margin-right: 3em !important;
                max-width: 1000px !important;
            }
        }
    }
    
    @media screen and (min-width: 1710px) {
        .blog-post {
            .contentWrapper {
                margin-right: auto !important;
                max-width: 1000px !important;
            }
        }
    }
}


::-webkit-scrollbar {
    width: 30px;
    height: 30px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,#ee83ef ,#41dfd0);
    border-radius: 30px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#100e17 0,#100e17);
}

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes wooo {
    0%, 100% {
        fill: #ee83ef;
    }
    16% {
        fill: #41dfd0;
    }
    32% {
        fill: #ee83ef;
    }
    48% {
        fill: #41dfd0;
    }
    64% {
        fill: #ee83ef;
    }
    80% {
        fill: #41dfd0;
    }
}

@keyframes wooo-fun {
    0%, 100% {
        fill: #7ccdea;
    }
    16% {
        fill: #0074D9;
    }
    32% {
        fill: #2ECC40;
    }
    48% {
        fill: #FFDC00;
    }
    64% {
        fill: #B10DC9;
    }
    80% {
        fill: #FF4136;
    }
}



.blog-post {
    .contentWrapper {
        margin-right: 3em !important;
        max-width: 800px !important;
    }
}

.sidebar {

    &--wrapper {
        position: absolute;
        left: 1em;
        height: 100%;
    }

    position: -webkit-sticky; /* Safari */  
    position: sticky;
    top: 2em;
    max-width: 100%;
    background: rgba(0,0,0,.3);
    border-radius: 10px;
    padding: 0 .5em;

    a {
        display: block;
        padding: .5em 0;
        border-bottom: dotted;
        border-bottom-color: #ee72f1;
        box-shadow: none;
    }
}

@media screen and (max-width: 823px) {
    .header {
        nav {
            ul {
                margin-top: 1em;
                margin-bottom: 8em;
                list-style-type: none;
                width: 300px;
                flex-direction: column;
            }
        }
    }

    .contentWrapper,
    .bio {
        margin-top: 0;
    }

    .contentWrapper {
        padding: 1rem 1rem;
    }

    .bio {
        padding: 0 1em;
        margin: 0 1em;
        margin-bottom: 8rem;

        .info {
            flex-direction: column;
        }
    }

    .sidebar {
        display: none;
    }
}

@media screen and (min-width: 823px) and (max-width: 915px) {
    .blog-post {
        .contentWrapper {
            margin-right: 1em !important;
            max-width: 400px !important;
        }
    }
}

@media screen and (min-width: 915px) and (max-width: 1050px) {
    .blog-post {
        .contentWrapper {
            margin-right: 1em !important;
            max-width: 500px !important;
        }
    }
}

@media screen and (min-width: 1050px) and (max-width: 1160px) {
    .blog-post {
        .contentWrapper {
            margin-right: 1em !important;
            max-width: 600px !important;
        }
    }
}

@media screen and (min-width: 1160px) and (max-width: 1260px) {
    .blog-post {
        .contentWrapper {
            margin-right: 1em !important;
            max-width: 700px !important;
        }
    }
}

@media screen and (min-width: 1260px) {
    .blog-post {
        .contentWrapper {
            margin-right: 3em !important;
            max-width: 800px !important;
        }
    }
}

@media screen and (min-width: 1500px) {
    .blog-post {
        .contentWrapper {
            margin-right: 3em !important;
            max-width: 900px !important;
        }
    }
}

@media screen and (min-width: 1600px) {
    .blog-post {
        .contentWrapper {
            margin-right: 3em !important;
            max-width: 1000px !important;
        }
    }
}

@media screen and (min-width: 1710px) {
    .blog-post {
        .contentWrapper {
            margin-right: auto !important;
            max-width: 1000px !important;
        }
    }
}

.codingLink {
    margin-right: 2em;
    font-size: 1.5rem;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: transparent;
}